.imgclick{
	filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-in-out;  
}

.imgclick:hover{
	cursor: pointer;
	filter: none;
  -webkit-filter: grayscale(0);
}

.estexto1{
	font-size: 1.100rem;
    line-height: 1.575rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.estexto2{
	font-size: 1.250rem;
    line-height: 1.575rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/*
.imgmiembros {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;  
}

.imgmiembros:hover {
filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}
*/